
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo h2{
    font: 45px;
    font-weight:800;
} 

.color-orange{
    color: #FD6E0A;
}
.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
/* main style */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url(./images/developer.png) , url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    width: 47%;
    max-width: 1134px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .menu {
    display: flex;
    list-style: none;
    gap: 45px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner {
    margin: 49px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1332;
    max-height: 676;
    padding: 163;
    
}
#banner .banner-content{
    max-width: 585px;
    
}
#banner .banner-content h2 {
    color: #474747;
    font-weight: 600;
    font-size: 45;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    color: black;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;

}

#about .about-content{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

}
.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
#about .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
    
}
#skills, #resume ,#about {
    padding-top: 130px;

}
#skills .skills-container{
    max-width: 1134px;
    margin: 0 auto;

}
.skills-heading h2{
    text-align: center;
    font-size: 35px;
    font-weight:600;
    margin-bottom: 30px;

}
.skills-heading p{
    max-height: 827px;
    text-align: center;
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 50px;
}
#skills .skills-container .skills-box{
    border-radius: 1px solid black;
    display: flex;
    gap: 24px;
    height: 370px;
   
}
.skills-box .skills-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000025;
    

}
.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skills-card h4{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skills-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
#resume .resume-header h2 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;

}
#resume .resume-container{
    max-width: 1134px;
    display: flex;
    gap: 24px;
    margin: 113px auto 0;
}
.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info {
     font-size: 2opx;
    font:600;
    margin-bottom: 20px;
    color: #474747;
}
.resume-card .card-text{
     font-size: 16px;
    line-height: 28px;
    color: #474747;
}
.resume-container hr{
    margin: 30px 0;
}
